---
swagger: "2.0"
info:
  version: "v4"
  title: "GitLab API"
host: "gitlab.com"
tags:
- name: "badges"
  description: "Operations about badges"
- name: "groups"
  description: "Operations about groups"
- name: "runners"
  description: "Operations about runners"
- name: "web_commits"
  description: "Operations about web commits"
- name: "group_avatar"
  description: "Operations about group_avatars"
- name: "invitations"
  description: "Operations about invitations"
- name: "members"
  description: "Operations about members"
- name: "group_access_tokens"
  description: "Operations about group_access_tokens"
- name: "wikis"
  description: "Operations about wikis"
- name: "branches"
  description: "Operations about branches"
- name: "secure_files"
  description: "Operations about secure_files"
- name: "commits"
  description: "Operations about commits"
- name: "pages"
  description: "Operations about pages"
- name: "pages_domains"
  description: "Operations about pages_domains"
- name: "project_avatar"
  description: "Operations about project_avatars"
- name: "projects_job_token_scope"
  description: "Operations about projects_job_token_scopes"
- name: "project_snippets"
  description: "Operations about project_snippets"
- name: "protected_tags"
  description: "Operations about protected_tags"
- name: "remote_mirrors"
  description: "Operations about remote_mirrors"
- name: "project_access_tokens"
  description: "Operations about project_access_tokens"
- name: "tags"
  description: "Operations about tags"
- name: "alert_management"
  description: "Operations about alert_managements"
- name: "batched_background_migrations"
  description: "Operations about batched_background_migrations"
- name: "admin"
  description: "Operations about admins"
- name: "migrations"
  description: "Operations about migrations"
- name: "broadcast_messages"
  description: "Operations about broadcast_messages"
- name: "applications"
  description: "Operations about applications"
- name: "avatar"
  description: "Operations about avatars"
- name: "bulk_imports"
  description: "Operations about bulk_imports"
- name: "job"
  description: "Operations about jobs"
- name: "jobs"
  description: "Operations about jobs"
- name: "events"
  description: "Operations about events"
- name: "users"
  description: "Operations about users"
- name: "keys"
  description: "Operations about keys"
- name: "markdown"
  description: "Operations about markdowns"
- name: "namespaces"
  description: "Operations about namespaces"
- name: "personal_access_tokens"
  description: "Operations about personal_access_tokens"
- name: "project_repository_storage_moves"
  description: "Operations about project_repository_storage_moves"
- name: "snippets"
  description: "Operations about snippets"
- name: "snippet_repository_storage_moves"
  description: "Operations about snippet_repository_storage_moves"
- name: "hooks"
  description: "Operations about hooks"
- name: "usage_data"
  description: "Operations about usage_data"
- name: "metrics"
  description: "Operations about metrics"
- name: "user"
  description: "Operations about users"
- name: "user_counts"
  description: "Operations about user_counts"
- name: "application"
  description: "Operations about applications"
- name: "import"
  description: "Operations about imports"
- name: "slack"
  description: "Operations about slacks"
- name: "topics"
  description: "Operations about topics"
- name: "access_requests"
  description: "Operations related to access requests"
- name: "ci_lint"
  description: "Operations related to linting a CI config file"
- name: "ci_resource_groups"
  description: "Operations to manage job concurrency with resource groups"
- name: "ci_variables"
  description: "Operations related to CI/CD variables"
- name: "cluster_agents"
  description: "Operations related to the GitLab agent for Kubernetes"
- name: "clusters"
  description: "Operations related to clusters"
- name: "composer_packages"
  description: "Operations related to Composer packages"
- name: "conan_packages"
  description: "Operations related to Conan packages"
- name: "container_registry"
  description: "Operations related to container registry"
- name: "container_registry_event"
  description: "Operations related to container registry events"
- name: "debian_distribution"
  description: "Operations related to Debian Linux distributions"
- name: "debian_packages"
  description: "Operations related to Debian Linux packages"
- name: "dependency_proxy"
  description: "Operations to manage dependency proxy for a groups"
- name: "deploy_keys"
  description: "Operations related to deploy keys"
- name: "deploy_tokens"
  description: "Operations related to deploy tokens"
- name: "deployments"
  description: "Operations related to deployments"
- name: "dora_metrics"
  description: "Operations related to DevOps Research and Assessment (DORA) key metrics"
- name: "environments"
  description: "Operations related to environments"
- name: "error_tracking_client_keys"
  description: "Operations related to error tracking client keys"
- name: "error_tracking_project_settings"
  description: "Operations related to error tracking project settings"
- name: "feature_flags_user_lists"
  description: "Operations related to accessing GitLab feature flag user lists"
- name: "feature_flags"
  description: "Operations related to feature flags"
- name: "features"
  description: "Operations related to managing Flipper-based feature flags"
- name: "freeze_periods"
  description: "Operations related to deploy freeze periods"
- name: "generic_packages"
  description: "Operations related to Generic packages"
- name: "geo"
  description: "Operations related to Geo"
- name: "geo_nodes"
  description: "Operations related Geo Nodes"
- name: "go_proxy"
  description: "Operations related to Go Proxy"
- name: "group_export"
  description: "Operations related to exporting groups"
- name: "group_import"
  description: "Operations related to importing groups"
- name: "group_packages"
  description: "Operations related to group packages"
- name: "helm_packages"
  description: "Operations related to Helm packages"
- name: "integrations"
  description: "Operations related to integrations"
- name: "issue_links"
  description: "Operations related to issue links"
- name: "jira_connect_subscriptions"
  description: "Operations related to JiraConnect subscriptions"
- name: "maven_packages"
  description: "Operations related to Maven packages"
- name: "merge_requests"
  description: "Operations related to merge requests"
- name: "metadata"
  description: "Operations related to metadata of the GitLab instance"
- name: "ml_model_registry"
  description: "Operations related to Model registry"
- name: "npm_packages"
  description: "Operations related to NPM packages"
- name: "nuget_packages"
  description: "Operations related to Nuget packages"
- name: "package_files"
  description: "Operations about package files"
- name: "plan_limits"
  description: "Operations related to plan limits"
- name: "project_export"
  description: "Operations related to exporting projects"
- name: "project_hooks"
  description: "Operations related to project hooks"
- name: "project_import"
  description: "Operations related to importing projects"
- name: "project_import_bitbucket"
  description: "Operations related to importing BitBucket projects"
- name: "project_import_github"
  description: "Operations related to importing GitHub projects"
- name: "project_packages"
  description: "Operations related to project packages"
- name: "projects"
  description: "Operations related to projects"
- name: "protected environments"
  description: "Operations related to protected environments"
- name: "pypi_packages"
  description: "Operations related to PyPI packages"
- name: "release_links"
  description: "Operations related to release assets (links)"
- name: "releases"
  description: "Operations related to releases"
- name: "resource_milestone_events"
  description: "Operations about resource milestone events"
- name: "rpm_packages"
  description: "Operations related to RPM packages"
- name: "rubygem_packages"
  description: "Operations related to RubyGems"
- name: "suggestions"
  description: "Operations related to suggestions"
- name: "system_hooks"
  description: "Operations related to system hooks"
- name: "terraform_state"
  description: "Operations related to Terraform state files"
- name: "terraform_registry"
  description: "Operations related to the Terraform module registry"
- name: "unleash_api"
  description: "Operations related to Unleash API"
produces:
- "application/json"
paths:
  /api/v4/groups/{id}/access_requests:
    get:
      tags:
      - "access_requests"
      summary: "Gets a list of access requests for a group."
      description: "This feature was introduced in GitLab 8.11."
      operationId: "getApiV4GroupsIdAccessRequests"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Gets a list of access requests for a group."
          schema:
            $ref: "#/definitions/API_Entities_AccessRequester"
    post:
      tags:
      - "access_requests"
      summary: "Requests access for the authenticated user to a group."
      description: "This feature was introduced in GitLab 8.11."
      operationId: "postApiV4GroupsIdAccessRequests"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful operation"
          examples:
            successfull_response:
              id: 1
              username: "raymond_smith"
              name: "Raymond Smith"
              state: "active"
              created_at: "2012-10-22T14:13:35Z"
              access_level: 20
          schema:
            $ref: "#/definitions/API_Entities_AccessRequester"
  /api/v4/groups/{id}/access_requests/{user_id}/approve:
    put:
      tags:
      - "access_requests"
      summary: "Approves an access request for the given user."
      description: "This feature was introduced in GitLab 8.11."
      operationId: "putApiV4GroupsIdAccessRequestsUserIdApprove"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "user_id"
        in: "path"
        description: "The user ID of the access requester"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "UserId"
      - in: "body"
        name: "putApiV4GroupsIdAccessRequestsUserIdApprove"
        required: true
        schema:
          $ref: "#/definitions/putApiV4GroupsIdAccessRequestsUserIdApprove"
        x-exportParamName: "PutApiV4GroupsIdAccessRequestsUserIdApprove"
      responses:
        "200":
          description: "successful operation"
          examples:
            successfull_response:
              id: 1
              username: "raymond_smith"
              name: "Raymond Smith"
              state: "active"
              created_at: "2012-10-22T14:13:35Z"
              access_level: 20
          schema:
            $ref: "#/definitions/API_Entities_AccessRequester"
  /api/v4/groups/{id}/access_requests/{user_id}:
    delete:
      tags:
      - "access_requests"
      summary: "Denies an access request for the given user."
      description: "This feature was introduced in GitLab 8.11."
      operationId: "deleteApiV4GroupsIdAccessRequestsUserId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "user_id"
        in: "path"
        description: "The user ID of the access requester"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "UserId"
      responses:
        "204":
          description: "Denies an access request for the given user."
  /api/v4/groups/{id}/badges:
    get:
      tags:
      - "badges"
      summary: "Gets a list of group badges viewable by the authenticated user."
      description: "This feature was introduced in GitLab 10.6."
      operationId: "getApiV4GroupsIdBadges"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "name"
        in: "query"
        description: "Name for the badge"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Gets a list of group badges viewable by the authenticated\
            \ user."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Badge"
    post:
      tags:
      - "badges"
      summary: "Adds a badge to a group."
      description: "This feature was introduced in GitLab 10.6."
      operationId: "postApiV4GroupsIdBadges"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdBadges"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdBadges"
        x-exportParamName: "PostApiV4GroupsIdBadges"
      responses:
        "201":
          description: "Adds a badge to a group."
          schema:
            $ref: "#/definitions/API_Entities_Badge"
  /api/v4/groups/{id}/badges/render:
    get:
      tags:
      - "badges"
      summary: "Preview a badge from a group."
      description: "This feature was introduced in GitLab 10.6."
      operationId: "getApiV4GroupsIdBadgesRender"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "link_url"
        in: "query"
        description: "URL of the badge link"
        required: true
        type: "string"
        x-exportParamName: "LinkUrl"
      - name: "image_url"
        in: "query"
        description: "URL of the badge image"
        required: true
        type: "string"
        x-exportParamName: "ImageUrl"
      responses:
        "200":
          description: "Preview a badge from a group."
          schema:
            $ref: "#/definitions/API_Entities_BasicBadgeDetails"
  /api/v4/groups/{id}/badges/{badge_id}:
    get:
      tags:
      - "badges"
      summary: "Gets a badge of a group."
      description: "This feature was introduced in GitLab 10.6."
      operationId: "getApiV4GroupsIdBadgesBadgeId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "badge_id"
        in: "path"
        description: "The badge ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "BadgeId"
      responses:
        "200":
          description: "Gets a badge of a group."
          schema:
            $ref: "#/definitions/API_Entities_Badge"
    put:
      tags:
      - "badges"
      summary: "Updates a badge of a group."
      description: "This feature was introduced in GitLab 10.6."
      operationId: "putApiV4GroupsIdBadgesBadgeId"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "badge_id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "BadgeId"
      - in: "body"
        name: "putApiV4GroupsIdBadgesBadgeId"
        required: true
        schema:
          $ref: "#/definitions/putApiV4GroupsIdBadgesBadgeId"
        x-exportParamName: "PutApiV4GroupsIdBadgesBadgeId"
      responses:
        "200":
          description: "Updates a badge of a group."
          schema:
            $ref: "#/definitions/API_Entities_Badge"
    delete:
      tags:
      - "badges"
      summary: "Removes a badge from the group."
      description: "This feature was introduced in GitLab 10.6."
      operationId: "deleteApiV4GroupsIdBadgesBadgeId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user."
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "badge_id"
        in: "path"
        description: "The badge ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "BadgeId"
      responses:
        "204":
          description: "Removes a badge from the group."
  /api/v4/groups/{id}/custom_attributes:
    get:
      tags:
      - "groups"
      description: "Get all custom attributes on a group"
      operationId: "getApiV4GroupsIdCustomAttributes"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Get all custom attributes on a group"
          schema:
            $ref: "#/definitions/API_Entities_CustomAttribute"
  /api/v4/groups/{id}/custom_attributes/{key}:
    get:
      tags:
      - "groups"
      description: "Get a custom attribute on a group"
      operationId: "getApiV4GroupsIdCustomAttributesKey"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        description: "The key of the custom attribute"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Get a custom attribute on a group"
          schema:
            $ref: "#/definitions/API_Entities_CustomAttribute"
    put:
      tags:
      - "groups"
      description: "Set a custom attribute on a group"
      operationId: "putApiV4GroupsIdCustomAttributesKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        description: "The key of the custom attribute"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - in: "body"
        name: "putApiV4GroupsIdCustomAttributesKey"
        required: true
        schema:
          $ref: "#/definitions/putApiV4GroupsIdCustomAttributesKey"
        x-exportParamName: "PutApiV4GroupsIdCustomAttributesKey"
      responses:
        "200":
          description: "Set a custom attribute on a group"
    delete:
      tags:
      - "groups"
      description: "Delete a custom attribute on a group"
      operationId: "deleteApiV4GroupsIdCustomAttributesKey"
      produces:
      - "application/json"
      parameters:
      - name: "key"
        in: "path"
        description: "The key of the custom attribute"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Delete a custom attribute on a group"
  /api/v4/groups:
    get:
      tags:
      - "groups"
      description: "Get a groups list"
      operationId: "getApiV4Groups"
      produces:
      - "application/json"
      parameters:
      - name: "statistics"
        in: "query"
        description: "Include project statistics"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Statistics"
        x-optionalDataType: "Bool"
      - name: "skip_groups"
        in: "query"
        description: "Array of group ids to exclude from list"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "multi"
        x-exportParamName: "SkipGroups"
      - name: "all_available"
        in: "query"
        description: "Show all group that you have access to"
        required: false
        type: "boolean"
        x-exportParamName: "AllAvailable"
        x-optionalDataType: "Bool"
      - name: "visibility"
        in: "query"
        description: "Limit by visibility"
        required: false
        type: "string"
        enum:
        - "private"
        - "internal"
        - "public"
        x-exportParamName: "Visibility"
        x-optionalDataType: "String"
      - name: "search"
        in: "query"
        description: "Search for a specific group"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "owned"
        in: "query"
        description: "Limit by owned by authenticated user"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Owned"
        x-optionalDataType: "Bool"
      - name: "order_by"
        in: "query"
        description: "Order by name, path, id or similarity if searching"
        required: false
        type: "string"
        default: "name"
        enum:
        - "name"
        - "path"
        - "id"
        - "similarity"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort by asc (ascending) or desc (descending)"
        required: false
        type: "string"
        default: "asc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "min_access_level"
        in: "query"
        description: "Minimum access level of authenticated user"
        required: false
        type: "integer"
        format: "int32"
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        x-exportParamName: "MinAccessLevel"
        x-optionalDataType: "Int32"
      - name: "top_level_only"
        in: "query"
        description: "Only include top level groups"
        required: false
        type: "boolean"
        x-exportParamName: "TopLevelOnly"
        x-optionalDataType: "Bool"
      - name: "repository_storage"
        in: "query"
        description: "Filter by repository storage used by the group"
        required: false
        type: "string"
        x-exportParamName: "RepositoryStorage"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "with_custom_attributes"
        in: "query"
        description: "Include custom attributes in the response"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithCustomAttributes"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Get a groups list"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Group"
    post:
      tags:
      - "groups"
      description: "Create a group. Available only for users who can create groups."
      operationId: "postApiV4Groups"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "postApiV4Groups"
        required: true
        schema:
          $ref: "#/definitions/postApiV4Groups"
        x-exportParamName: "PostApiV4Groups"
      responses:
        "201":
          description: "Create a group. Available only for users who can create groups."
          schema:
            $ref: "#/definitions/API_Entities_Group"
  /api/v4/groups/{id}:
    get:
      tags:
      - "groups"
      description: "Get a single group, with containing projects."
      operationId: "getApiV4GroupsId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "with_custom_attributes"
        in: "query"
        description: "Include custom attributes in the response"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithCustomAttributes"
        x-optionalDataType: "Bool"
      - name: "with_projects"
        in: "query"
        description: "Omit project details"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "WithProjects"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Get a single group, with containing projects."
          schema:
            $ref: "#/definitions/API_Entities_GroupDetail"
    put:
      tags:
      - "groups"
      description: "Update a group. Available only for users who can administrate\
        \ groups."
      operationId: "putApiV4GroupsId"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "putApiV4GroupsId"
        required: true
        schema:
          $ref: "#/definitions/putApiV4GroupsId"
        x-exportParamName: "PutApiV4GroupsId"
      responses:
        "200":
          description: "Update a group. Available only for users who can administrate\
            \ groups."
          schema:
            $ref: "#/definitions/API_Entities_Group"
    delete:
      tags:
      - "groups"
      description: "Remove a group."
      operationId: "deleteApiV4GroupsId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Remove a group."
  /api/v4/groups/{id}/projects:
    get:
      tags:
      - "groups"
      description: "Get a list of projects in this group."
      operationId: "getApiV4GroupsIdProjects"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "archived"
        in: "query"
        description: "Limit by archived status"
        required: false
        type: "boolean"
        x-exportParamName: "Archived"
        x-optionalDataType: "Bool"
      - name: "visibility"
        in: "query"
        description: "Limit by visibility"
        required: false
        type: "string"
        enum:
        - "private"
        - "internal"
        - "public"
        x-exportParamName: "Visibility"
        x-optionalDataType: "String"
      - name: "search"
        in: "query"
        description: "Return list of authorized projects matching the search criteria"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "order_by"
        in: "query"
        description: "Return projects ordered by field"
        required: false
        type: "string"
        default: "created_at"
        enum:
        - "id"
        - "name"
        - "path"
        - "created_at"
        - "updated_at"
        - "last_activity_at"
        - "similarity"
        - "star_count"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Return projects sorted in ascending and descending order"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "simple"
        in: "query"
        description: "Return only the ID, URL, name, and path of each project"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Simple"
        x-optionalDataType: "Bool"
      - name: "owned"
        in: "query"
        description: "Limit by owned by authenticated user"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Owned"
        x-optionalDataType: "Bool"
      - name: "starred"
        in: "query"
        description: "Limit by starred status"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Starred"
        x-optionalDataType: "Bool"
      - name: "with_issues_enabled"
        in: "query"
        description: "Limit by enabled issues feature"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithIssuesEnabled"
        x-optionalDataType: "Bool"
      - name: "with_merge_requests_enabled"
        in: "query"
        description: "Limit by enabled merge requests feature"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithMergeRequestsEnabled"
        x-optionalDataType: "Bool"
      - name: "with_shared"
        in: "query"
        description: "Include projects shared to this group"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "WithShared"
        x-optionalDataType: "Bool"
      - name: "include_subgroups"
        in: "query"
        description: "Includes projects in subgroups of this group"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeSubgroups"
        x-optionalDataType: "Bool"
      - name: "include_ancestor_groups"
        in: "query"
        description: "Includes projects in ancestors of this group"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "IncludeAncestorGroups"
        x-optionalDataType: "Bool"
      - name: "min_access_level"
        in: "query"
        description: "Limit by minimum access level of authenticated user on projects"
        required: false
        type: "integer"
        format: "int32"
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        x-exportParamName: "MinAccessLevel"
        x-optionalDataType: "Int32"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "with_custom_attributes"
        in: "query"
        description: "Include custom attributes in the response"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithCustomAttributes"
        x-optionalDataType: "Bool"
      - name: "with_security_reports"
        in: "query"
        description: "Return only projects having security report artifacts present"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithSecurityReports"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Get a list of projects in this group."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Project"
  /api/v4/groups/{id}/projects/shared:
    get:
      tags:
      - "groups"
      description: "Get a list of shared projects in this group"
      operationId: "getApiV4GroupsIdProjectsShared"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "archived"
        in: "query"
        description: "Limit by archived status"
        required: false
        type: "boolean"
        x-exportParamName: "Archived"
        x-optionalDataType: "Bool"
      - name: "visibility"
        in: "query"
        description: "Limit by visibility"
        required: false
        type: "string"
        enum:
        - "private"
        - "internal"
        - "public"
        x-exportParamName: "Visibility"
        x-optionalDataType: "String"
      - name: "search"
        in: "query"
        description: "Return list of authorized projects matching the search criteria"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "order_by"
        in: "query"
        description: "Return projects ordered by field"
        required: false
        type: "string"
        default: "created_at"
        enum:
        - "id"
        - "name"
        - "path"
        - "created_at"
        - "updated_at"
        - "last_activity_at"
        - "star_count"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Return projects sorted in ascending and descending order"
        required: false
        type: "string"
        default: "desc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "simple"
        in: "query"
        description: "Return only the ID, URL, name, and path of each project"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Simple"
        x-optionalDataType: "Bool"
      - name: "starred"
        in: "query"
        description: "Limit by starred status"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Starred"
        x-optionalDataType: "Bool"
      - name: "with_issues_enabled"
        in: "query"
        description: "Limit by enabled issues feature"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithIssuesEnabled"
        x-optionalDataType: "Bool"
      - name: "with_merge_requests_enabled"
        in: "query"
        description: "Limit by enabled merge requests feature"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithMergeRequestsEnabled"
        x-optionalDataType: "Bool"
      - name: "min_access_level"
        in: "query"
        description: "Limit by minimum access level of authenticated user on projects"
        required: false
        type: "integer"
        format: "int32"
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        x-exportParamName: "MinAccessLevel"
        x-optionalDataType: "Int32"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "with_custom_attributes"
        in: "query"
        description: "Include custom attributes in the response"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithCustomAttributes"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Get a list of shared projects in this group"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Project"
  /api/v4/groups/{id}/subgroups:
    get:
      tags:
      - "groups"
      description: "Get a list of subgroups in this group."
      operationId: "getApiV4GroupsIdSubgroups"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "statistics"
        in: "query"
        description: "Include project statistics"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Statistics"
        x-optionalDataType: "Bool"
      - name: "skip_groups"
        in: "query"
        description: "Array of group ids to exclude from list"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "multi"
        x-exportParamName: "SkipGroups"
      - name: "all_available"
        in: "query"
        description: "Show all group that you have access to"
        required: false
        type: "boolean"
        x-exportParamName: "AllAvailable"
        x-optionalDataType: "Bool"
      - name: "visibility"
        in: "query"
        description: "Limit by visibility"
        required: false
        type: "string"
        enum:
        - "private"
        - "internal"
        - "public"
        x-exportParamName: "Visibility"
        x-optionalDataType: "String"
      - name: "search"
        in: "query"
        description: "Search for a specific group"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "owned"
        in: "query"
        description: "Limit by owned by authenticated user"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Owned"
        x-optionalDataType: "Bool"
      - name: "order_by"
        in: "query"
        description: "Order by name, path, id or similarity if searching"
        required: false
        type: "string"
        default: "name"
        enum:
        - "name"
        - "path"
        - "id"
        - "similarity"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort by asc (ascending) or desc (descending)"
        required: false
        type: "string"
        default: "asc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "min_access_level"
        in: "query"
        description: "Minimum access level of authenticated user"
        required: false
        type: "integer"
        format: "int32"
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        x-exportParamName: "MinAccessLevel"
        x-optionalDataType: "Int32"
      - name: "top_level_only"
        in: "query"
        description: "Only include top level groups"
        required: false
        type: "boolean"
        x-exportParamName: "TopLevelOnly"
        x-optionalDataType: "Bool"
      - name: "repository_storage"
        in: "query"
        description: "Filter by repository storage used by the group"
        required: false
        type: "string"
        x-exportParamName: "RepositoryStorage"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "with_custom_attributes"
        in: "query"
        description: "Include custom attributes in the response"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithCustomAttributes"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Get a list of subgroups in this group."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Group"
  /api/v4/groups/{id}/descendant_groups:
    get:
      tags:
      - "groups"
      description: "Get a list of descendant groups of this group."
      operationId: "getApiV4GroupsIdDescendantGroups"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "statistics"
        in: "query"
        description: "Include project statistics"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Statistics"
        x-optionalDataType: "Bool"
      - name: "skip_groups"
        in: "query"
        description: "Array of group ids to exclude from list"
        required: false
        type: "array"
        items:
          type: "integer"
          format: "int32"
        collectionFormat: "multi"
        x-exportParamName: "SkipGroups"
      - name: "all_available"
        in: "query"
        description: "Show all group that you have access to"
        required: false
        type: "boolean"
        x-exportParamName: "AllAvailable"
        x-optionalDataType: "Bool"
      - name: "visibility"
        in: "query"
        description: "Limit by visibility"
        required: false
        type: "string"
        enum:
        - "private"
        - "internal"
        - "public"
        x-exportParamName: "Visibility"
        x-optionalDataType: "String"
      - name: "search"
        in: "query"
        description: "Search for a specific group"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "owned"
        in: "query"
        description: "Limit by owned by authenticated user"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Owned"
        x-optionalDataType: "Bool"
      - name: "order_by"
        in: "query"
        description: "Order by name, path, id or similarity if searching"
        required: false
        type: "string"
        default: "name"
        enum:
        - "name"
        - "path"
        - "id"
        - "similarity"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Sort by asc (ascending) or desc (descending)"
        required: false
        type: "string"
        default: "asc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "min_access_level"
        in: "query"
        description: "Minimum access level of authenticated user"
        required: false
        type: "integer"
        format: "int32"
        enum:
        - 10
        - 20
        - 30
        - 40
        - 50
        x-exportParamName: "MinAccessLevel"
        x-optionalDataType: "Int32"
      - name: "top_level_only"
        in: "query"
        description: "Only include top level groups"
        required: false
        type: "boolean"
        x-exportParamName: "TopLevelOnly"
        x-optionalDataType: "Bool"
      - name: "repository_storage"
        in: "query"
        description: "Filter by repository storage used by the group"
        required: false
        type: "string"
        x-exportParamName: "RepositoryStorage"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "with_custom_attributes"
        in: "query"
        description: "Include custom attributes in the response"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "WithCustomAttributes"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "Get a list of descendant groups of this group."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Group"
  /api/v4/groups/{id}/projects/{project_id}:
    post:
      tags:
      - "groups"
      description: "Transfer a project to the group namespace. Available only for\
        \ admin."
      operationId: "postApiV4GroupsIdProjectsProjectId"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "project_id"
        in: "path"
        description: "The ID or path of the project"
        required: true
        type: "string"
        x-exportParamName: "ProjectId"
      responses:
        "201":
          description: "Transfer a project to the group namespace. Available only\
            \ for admin."
          schema:
            $ref: "#/definitions/API_Entities_GroupDetail"
  /api/v4/groups/{id}/transfer_locations:
    get:
      tags:
      - "groups"
      description: "Get the groups to where the current group can be transferred to"
      operationId: "getApiV4GroupsIdTransferLocations"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "search"
        in: "query"
        description: "Return list of namespaces matching the search criteria"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Get the groups to where the current group can be transferred\
            \ to"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Group"
  /api/v4/groups/{id}/transfer:
    post:
      tags:
      - "groups"
      description: "Transfer a group to a new parent group or promote a subgroup to\
        \ a root group"
      operationId: "postApiV4GroupsIdTransfer"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdTransfer"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdTransfer"
        x-exportParamName: "PostApiV4GroupsIdTransfer"
      responses:
        "201":
          description: "Transfer a group to a new parent group or promote a subgroup\
            \ to a root group"
  /api/v4/groups/{id}/share:
    post:
      tags:
      - "groups"
      description: "Share a group with a group"
      operationId: "postApiV4GroupsIdShare"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdShare"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdShare"
        x-exportParamName: "PostApiV4GroupsIdShare"
      responses:
        "201":
          description: "Share a group with a group"
          schema:
            $ref: "#/definitions/API_Entities_GroupDetail"
  /api/v4/groups/{id}/share/{group_id}:
    delete:
      tags:
      - "groups"
      operationId: "deleteApiV4GroupsIdShareGroupId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "group_id"
        in: "path"
        description: "The ID of the shared group"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "GroupId"
      responses:
        "204":
          description: "deleted Share"
  /api/v4/groups/{id}/ldap_sync:
    post:
      tags:
      - "groups"
      description: "Sync a group with LDAP."
      operationId: "postApiV4GroupsIdLdapSync"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "201":
          description: "Sync a group with LDAP."
  /api/v4/groups/{id}/restore:
    post:
      tags:
      - "groups"
      description: "Restore a group."
      operationId: "postApiV4GroupsIdRestore"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "201":
          description: "Restore a group."
  /api/v4/groups/{id}/provisioned_users:
    get:
      tags:
      - "groups"
      description: "Get a list of users provisioned by the group"
      operationId: "getApiV4GroupsIdProvisionedUsers"
      produces:
      - "application/json"
      parameters:
      - name: "username"
        in: "query"
        description: "Return a single user with a specific username"
        required: false
        type: "string"
        x-exportParamName: "Username"
        x-optionalDataType: "String"
      - name: "search"
        in: "query"
        description: "Search users by name, email or username"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "active"
        in: "query"
        description: "Return only active users"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Active"
        x-optionalDataType: "Bool"
      - name: "blocked"
        in: "query"
        description: "Return only blocked users"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Blocked"
        x-optionalDataType: "Bool"
      - name: "created_after"
        in: "query"
        description: "Return users created after the specified time"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "CreatedAfter"
        x-optionalDataType: "Time"
      - name: "created_before"
        in: "query"
        description: "Return users created before the specified time"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "CreatedBefore"
        x-optionalDataType: "Time"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Get a list of users provisioned by the group"
          schema:
            $ref: "#/definitions/API_Entities_UserPublic"
  /api/v4/groups/{id}/users:
    get:
      tags:
      - "groups"
      description: "Get a list of users for the group"
      operationId: "getApiV4GroupsIdUsers"
      produces:
      - "application/json"
      parameters:
      - name: "search"
        in: "query"
        description: "Search users by name, email or username"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "active"
        in: "query"
        description: "Filters only active users"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "Active"
        x-optionalDataType: "Bool"
      - name: "include_saml_users"
        in: "query"
        description: "Return users with a SAML identity in this group"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeSamlUsers"
        x-optionalDataType: "Bool"
      - name: "include_service_accounts"
        in: "query"
        description: "Return service accounts owned by this group"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeServiceAccounts"
        x-optionalDataType: "Bool"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Get a list of users for the group"
          schema:
            $ref: "#/definitions/API_Entities_UserPublic"
        "400":
          description: "Bad request"
        "403":
          description: "Forbidden"
        "404":
          description: "404 Not Found"
  /api/v4/groups/{id}/ssh_certificates:
    get:
      tags:
      - "groups"
      summary: "Get a list of Groups::SshCertificate for a Group."
      description: "Get a list of ssh certificates created for a group."
      operationId: "getApiV4GroupsIdSshCertificates"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Get a list of ssh certificates created for a group."
          schema:
            type: "array"
            items:
              $ref: "#/definitions/EE_API_Entities_SshCertificate"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "404 Not Found"
    post:
      tags:
      - "groups"
      summary: "Add a Groups::SshCertificate."
      description: "Create a ssh certificate for a group."
      operationId: "postApiV4GroupsIdSshCertificates"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdSshCertificates"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdSshCertificates"
        x-exportParamName: "PostApiV4GroupsIdSshCertificates"
      responses:
        "201":
          description: "Create a ssh certificate for a group."
          schema:
            $ref: "#/definitions/EE_API_Entities_SshCertificate"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
  /api/v4/groups/{id}/ssh_certificates/{ssh_certificates_id}:
    delete:
      tags:
      - "groups"
      summary: "Removes an ssh certificate from a group."
      description: "Removes a Groups::SshCertificate"
      operationId: "deleteApiV4GroupsIdSshCertificatesSshCertificatesId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - name: "ssh_certificates_id"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "SshCertificatesId"
      responses:
        "204":
          description: "Removes an ssh certificate from a group."
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "422":
          description: "Unprocessable entity"
  /api/v4/groups/{id}/runners:
    get:
      tags:
      - "runners"
      - "groups"
      summary: "List group's runners"
      description: "List all runners available in the group as well as its ancestor\
        \ groups, including any allowed shared runners."
      operationId: "getApiV4GroupsIdRunners"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "type"
        in: "query"
        description: "The type of runners to return"
        required: false
        type: "string"
        enum:
        - "instance_type"
        - "group_type"
        - "project_type"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "paused"
        in: "query"
        description: "Whether to include only runners that are accepting or ignoring\
          \ new jobs"
        required: false
        type: "boolean"
        x-exportParamName: "Paused"
        x-optionalDataType: "Bool"
      - name: "status"
        in: "query"
        description: "The status of runners to return"
        required: false
        type: "string"
        enum:
        - "active"
        - "paused"
        - "online"
        - "offline"
        - "never_contacted"
        - "stale"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      - name: "tag_list"
        in: "query"
        description: "A list of runner tags"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "TagList"
      - name: "version_prefix"
        in: "query"
        description: "The version prefix of runners to return"
        required: false
        type: "string"
        x-exportParamName: "VersionPrefix"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Get runners available for group"
          schema:
            $ref: "#/definitions/API_Entities_Ci_Runner"
        "400":
          description: "Scope contains invalid value"
        "403":
          description: "Forbidden"
  /api/v4/groups/{id}/runners/reset_registration_token:
    post:
      tags:
      - "runners"
      - "groups"
      summary: "Reset the runner registration token for a group"
      description: "Reset runner registration token"
      operationId: "postApiV4GroupsIdRunnersResetRegistrationToken"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "201":
          description: "Reset runner registration token"
          schema:
            $ref: "#/definitions/API_Entities_Ci_ResetTokenResult"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Group Not Found"
  /api/v4/groups/{id}/dependency_proxy/cache:
    delete:
      tags:
      - "dependency_proxy"
      summary: "Purge the dependency proxy for a group"
      description: "Schedules for deletion the cached manifests and blobs for a group.This\
        \ endpoint requires the Owner role for the group."
      operationId: "deleteApiV4GroupsIdDependencyProxyCache"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "202":
          description: "Purge the dependency proxy for a group"
        "401":
          description: "Unauthorized"
  /api/v4/groups/{id}/deploy_tokens:
    get:
      tags:
      - "deploy_tokens"
      summary: "List group deploy tokens"
      description: "Get a list of a group's deploy tokens. This feature was introduced\
        \ in GitLab 12.9."
      operationId: "getApiV4GroupsIdDeployTokens"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "active"
        in: "query"
        description: "Limit by active status"
        required: false
        type: "boolean"
        x-exportParamName: "Active"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "List group deploy tokens"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_DeployToken"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
    post:
      tags:
      - "deploy_tokens"
      summary: "Create a group deploy token"
      description: "Creates a new deploy token for a group. This feature was introduced\
        \ in GitLab 12.9."
      operationId: "postApiV4GroupsIdDeployTokens"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdDeployTokens"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdDeployTokens"
        x-exportParamName: "PostApiV4GroupsIdDeployTokens"
      responses:
        "201":
          description: "Create a group deploy token"
          schema:
            $ref: "#/definitions/API_Entities_DeployTokenWithToken"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not found"
  /api/v4/groups/{id}/deploy_tokens/{token_id}:
    get:
      tags:
      - "deploy_tokens"
      summary: "Get a group deploy token"
      description: "Get a single group's deploy token by ID. This feature was introduced\
        \ in GitLab 14.9. "
      operationId: "getApiV4GroupsIdDeployTokensTokenId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - name: "token_id"
        in: "path"
        description: "The ID of the deploy token"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "TokenId"
      responses:
        "200":
          description: "Get a group deploy token"
          schema:
            $ref: "#/definitions/API_Entities_DeployToken"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not found"
    delete:
      tags:
      - "deploy_tokens"
      summary: "Delete a group deploy token"
      description: "Removes a deploy token from the group. This feature was introduced\
        \ in GitLab 12.9."
      operationId: "deleteApiV4GroupsIdDeployTokensTokenId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group owned by the authenticated\
          \ user"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Id"
      - name: "token_id"
        in: "path"
        description: "The ID of the deploy token"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "TokenId"
      responses:
        "204":
          description: "Delete a group deploy token"
        "401":
          description: "Unauthorized"
        "404":
          description: "Not found"
  /api/v4/groups/{id}/avatar:
    get:
      tags:
      - "group_avatar"
      summary: "Download the group avatar"
      description: "This feature was introduced in GitLab 14.0"
      operationId: "getApiV4GroupsIdAvatar"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Download the group avatar"
  /api/v4/groups/{id}/clusters:
    get:
      tags:
      - "clusters"
      summary: "List group clusters"
      description: "This feature was introduced in GitLab 12.1. Returns a list of\
        \ group clusters."
      operationId: "getApiV4GroupsIdClusters"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List group clusters"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Cluster"
        "403":
          description: "Forbidden"
  /api/v4/groups/{id}/clusters/{cluster_id}:
    get:
      tags:
      - "clusters"
      summary: "Get a single group cluster"
      description: "This feature was introduced in GitLab 12.1. Gets a single group\
        \ cluster."
      operationId: "getApiV4GroupsIdClustersClusterId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "cluster_id"
        in: "path"
        description: "The cluster ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ClusterId"
      responses:
        "200":
          description: "Get a single group cluster"
          schema:
            $ref: "#/definitions/API_Entities_ClusterGroup"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
    put:
      tags:
      - "clusters"
      summary: "Edit group cluster"
      description: "This feature was introduced in GitLab 12.1. Updates an existing\
        \ group cluster."
      operationId: "putApiV4GroupsIdClustersClusterId"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "cluster_id"
        in: "path"
        description: "The cluster ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ClusterId"
      - in: "body"
        name: "putApiV4GroupsIdClustersClusterId"
        required: true
        schema:
          $ref: "#/definitions/putApiV4GroupsIdClustersClusterId"
        x-exportParamName: "PutApiV4GroupsIdClustersClusterId"
      responses:
        "200":
          description: "Edit group cluster"
          schema:
            $ref: "#/definitions/API_Entities_ClusterGroup"
        "400":
          description: "Validation error"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
    delete:
      tags:
      - "clusters"
      summary: "Delete group cluster"
      description: "This feature was introduced in GitLab 12.1. Deletes an existing\
        \ group cluster. Does not remove existing resources within the connected Kubernetes\
        \ cluster."
      operationId: "deleteApiV4GroupsIdClustersClusterId"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "cluster_id"
        in: "path"
        description: "The Cluster ID"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ClusterId"
      responses:
        "204":
          description: "Delete group cluster"
          schema:
            $ref: "#/definitions/API_Entities_ClusterGroup"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
  /api/v4/groups/{id}/clusters/user:
    post:
      tags:
      - "clusters"
      summary: "Add existing cluster to group"
      description: "This feature was introduced in GitLab 12.1. Adds an existing Kubernetes\
        \ cluster to the group."
      operationId: "postApiV4GroupsIdClustersUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of the group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdClustersUser"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdClustersUser"
        x-exportParamName: "PostApiV4GroupsIdClustersUser"
      responses:
        "201":
          description: "Add existing cluster to group"
          schema:
            $ref: "#/definitions/API_Entities_ClusterGroup"
        "400":
          description: "Validation error"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
  /api/v4/groups/{id}/registry/repositories:
    get:
      tags:
      - "container_registry"
      summary: "List registry repositories within a group"
      description: "Get a list of registry repositories in a group. This feature was\
        \ introduced in GitLab 12.2."
      operationId: "getApiV4GroupsIdRegistryRepositories"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group accessible by the authenticated\
          \ user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "List registry repositories within a group"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_ContainerRegistry_Repository"
        "401":
          description: "Unauthorized"
        "404":
          description: "Group Not Found"
  /api/v4/groups/{id}/export/download:
    get:
      tags:
      - "group_export"
      summary: "Download export"
      description: "This feature was introduced in GitLab 12.5."
      operationId: "getApiV4GroupsIdExportDownload"
      produces:
      - "application/octet-stream"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Download export"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
        "503":
          description: "Service unavailable"
  /api/v4/groups/{id}/export:
    post:
      tags:
      - "group_export"
      summary: "Start export"
      description: "This feature was introduced in GitLab 12.5."
      operationId: "postApiV4GroupsIdExport"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "202":
          description: "Start export"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
        "429":
          description: "Too many requests"
        "503":
          description: "Service unavailable"
  /api/v4/groups/{id}/export_relations:
    post:
      tags:
      - "group_export"
      summary: "Start relations export"
      description: "This feature was introduced in GitLab 13.12"
      operationId: "postApiV4GroupsIdExportRelations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdExportRelations"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdExportRelations"
        x-exportParamName: "PostApiV4GroupsIdExportRelations"
      responses:
        "202":
          description: "Start relations export"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
        "503":
          description: "Service unavailable"
  /api/v4/groups/{id}/export_relations/download:
    get:
      tags:
      - "group_export"
      summary: "Download relations export"
      description: "This feature was introduced in GitLab 13.12"
      operationId: "getApiV4GroupsIdExportRelationsDownload"
      produces:
      - "application/octet-stream"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "relation"
        in: "query"
        description: "Group relation name"
        required: true
        type: "string"
        x-exportParamName: "Relation"
      - name: "batched"
        in: "query"
        description: "Whether to download in batches"
        required: false
        type: "boolean"
        x-exportParamName: "Batched"
        x-optionalDataType: "Bool"
      - name: "batch_number"
        in: "query"
        description: "Batch number to download"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "BatchNumber"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Download relations export"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
        "503":
          description: "Service unavailable"
  /api/v4/groups/{id}/export_relations/status:
    get:
      tags:
      - "group_export"
      summary: "Relations export status"
      description: "This feature was introduced in GitLab 13.12"
      operationId: "getApiV4GroupsIdExportRelationsStatus"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "relation"
        in: "query"
        description: "Group relation name"
        required: false
        type: "string"
        x-exportParamName: "Relation"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Relations export status"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_BulkImports_ExportStatus"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
        "503":
          description: "Service unavailable"
  /api/v4/groups/import/authorize:
    post:
      tags:
      - "group_import"
      summary: "Workhorse authorize the group import upload"
      description: "This feature was introduced in GitLab 12.8"
      operationId: "postApiV4GroupsImportAuthorize"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters: []
      responses:
        "201":
          description: "Workhorse authorize the group import upload"
  /api/v4/groups/import:
    post:
      tags:
      - "group_import"
      summary: "Create a new group import"
      description: "This feature was introduced in GitLab 12.8"
      operationId: "postApiV4GroupsImport"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "path"
        in: "formData"
        description: "Group path"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "name"
        in: "formData"
        description: "Group name"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "file"
        in: "formData"
        description: "The group export file to be imported"
        required: true
        type: "file"
        x-exportParamName: "File"
      - name: "parent_id"
        in: "formData"
        description: "The ID of the parent group that the group will be imported into.\
          \ Defaults to the current user's namespace."
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "ParentId"
        x-optionalDataType: "Int32"
      - name: "organization_id"
        in: "formData"
        description: "The ID of the organization that the group will be part of. "
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "OrganizationId"
        x-optionalDataType: "Int32"
      responses:
        "202":
          description: "Create a new group import"
        "400":
          description: "Bad request"
        "401":
          description: "Unauthorized"
        "403":
          description: "Forbidden"
        "503":
          description: "Service unavailable"
  /api/v4/groups/{id}/packages:
    get:
      tags:
      - "group_packages"
      summary: "List packages within a group"
      description: "Get a list of project packages at the group level. This feature\
        \ was introduced in GitLab 12.5"
      operationId: "getApiV4GroupsIdPackages"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID or URL-encoded path of the group"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "exclude_subgroups"
        in: "query"
        description: "Determines if subgroups should be excluded"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "ExcludeSubgroups"
        x-optionalDataType: "Bool"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "order_by"
        in: "query"
        description: "Return packages ordered by `created_at`, `name`, `version` or\
          \ `type` fields."
        required: false
        type: "string"
        default: "created_at"
        enum:
        - "created_at"
        - "name"
        - "version"
        - "type"
        - "project_path"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "Return packages sorted in `asc` or `desc` order."
        required: false
        type: "string"
        default: "asc"
        enum:
        - "asc"
        - "desc"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "package_type"
        in: "query"
        description: "Return packages of a certain type"
        required: false
        type: "string"
        enum:
        - "maven"
        - "npm"
        - "conan"
        - "nuget"
        - "pypi"
        - "composer"
        - "generic"
        - "golang"
        - "debian"
        - "rubygems"
        - "helm"
        - "terraform_module"
        - "rpm"
        - "ml_model"
        x-exportParamName: "PackageType"
        x-optionalDataType: "String"
      - name: "package_name"
        in: "query"
        description: "Return packages with this name"
        required: false
        type: "string"
        x-exportParamName: "PackageName"
        x-optionalDataType: "String"
      - name: "package_version"
        in: "query"
        description: "Return packages with this version"
        required: false
        type: "string"
        x-exportParamName: "PackageVersion"
        x-optionalDataType: "String"
      - name: "include_versionless"
        in: "query"
        description: "Returns packages without a version"
        required: false
        type: "boolean"
        x-exportParamName: "IncludeVersionless"
        x-optionalDataType: "Bool"
      - name: "status"
        in: "query"
        description: "Return packages with specified status"
        required: false
        type: "string"
        enum:
        - "default"
        - "hidden"
        - "processing"
        - "error"
        - "pending_destruction"
        x-exportParamName: "Status"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "List packages within a group"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Package"
        "401":
          description: "Unauthorized"
        "404":
          description: "Group Not Found"
  /api/v4/groups/{id}/variables:
    get:
      tags:
      - "ci_variables"
      description: "Get a list of group-level variables"
      operationId: "getApiV4GroupsIdVariables"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group or URL-encoded path of the group owned by\
          \ the authenticated\n      user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "Get a list of group-level variables"
          schema:
            $ref: "#/definitions/API_Entities_Ci_Variable"
    post:
      tags:
      - "ci_variables"
      description: "Create a new variable in a group"
      operationId: "postApiV4GroupsIdVariables"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group or URL-encoded path of the group owned by\
          \ the authenticated\n      user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdVariables"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdVariables"
        x-exportParamName: "PostApiV4GroupsIdVariables"
      responses:
        "201":
          description: "Create a new variable in a group"
          schema:
            $ref: "#/definitions/API_Entities_Ci_Variable"
        "400":
          description: "400 Bad Request"
  /api/v4/groups/{id}/variables/{key}:
    get:
      tags:
      - "ci_variables"
      description: "Get the details of a group’s specific variable"
      operationId: "getApiV4GroupsIdVariablesKey"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group or URL-encoded path of the group owned by\
          \ the authenticated\n      user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "key"
        in: "path"
        description: "The key of the variable"
        required: true
        type: "string"
        x-exportParamName: "Key"
      responses:
        "200":
          description: "Get the details of a group’s specific variable"
          schema:
            $ref: "#/definitions/API_Entities_Ci_Variable"
        "404":
          description: "Group Variable Not Found"
    put:
      tags:
      - "ci_variables"
      description: "Update an existing variable from a group"
      operationId: "putApiV4GroupsIdVariablesKey"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group or URL-encoded path of the group owned by\
          \ the authenticated\n      user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "key"
        in: "path"
        description: "The key of a variable"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - in: "body"
        name: "putApiV4GroupsIdVariablesKey"
        required: true
        schema:
          $ref: "#/definitions/putApiV4GroupsIdVariablesKey"
        x-exportParamName: "PutApiV4GroupsIdVariablesKey"
      responses:
        "200":
          description: "Update an existing variable from a group"
          schema:
            $ref: "#/definitions/API_Entities_Ci_Variable"
        "400":
          description: "400 Bad Request"
        "404":
          description: "Group Variable Not Found"
    delete:
      tags:
      - "ci_variables"
      description: "Delete an existing variable from a group"
      operationId: "deleteApiV4GroupsIdVariablesKey"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID of a group or URL-encoded path of the group owned by\
          \ the authenticated\n      user"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "key"
        in: "path"
        description: "The key of a variable"
        required: true
        type: "string"
        x-exportParamName: "Key"
      responses:
        "204":
          description: "Delete an existing variable from a group"
          schema:
            $ref: "#/definitions/API_Entities_Ci_Variable"
        "404":
          description: "Group Variable Not Found"
  /api/v4/groups/{id}/invitations:
    get:
      tags:
      - "invitations"
      summary: "Get a list of group or project invitations viewable by the authenticated\
        \ user"
      description: "This feature was introduced in GitLab 13.6"
      operationId: "getApiV4GroupsIdInvitations"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The group ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "Current page number"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "per_page"
        in: "query"
        description: "Number of items per page"
        required: false
        type: "integer"
        default: 20
        format: "int32"
        x-exportParamName: "PerPage"
        x-optionalDataType: "Int32"
      - name: "query"
        in: "query"
        description: "A query string to search for members"
        required: false
        type: "string"
        x-exportParamName: "Query"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "Get a list of group or project invitations viewable by the\
            \ authenticated user"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/API_Entities_Invitation"
    post:
      tags:
      - "invitations"
      summary: "Invite non-members by email address to a group or project."
      description: "This feature was introduced in GitLab 13.6"
      operationId: "postApiV4GroupsIdInvitations"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The group ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "postApiV4GroupsIdInvitations"
        required: true
        schema:
          $ref: "#/definitions/postApiV4GroupsIdInvitations"
        x-exportParamName: "PostApiV4GroupsIdInvitations"
      responses:
        "201":
          description: "Invite non-members by email address to a group or project."
          schema:
            $ref: "#/definitions/API_Entities_Invitation"
  /api/v4/groups/{id}/invitations/{email}:
    put:
      tags:
      - "invitations"
      description: "Updates a group or project invitation."
      operationId: "putApiV4GroupsIdInvitationsEmail"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The group ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "email"
        in: "path"
        description: "The email address of the invitation"
        required: true
        type: "string"
        x-exportParamName: "Email"
      - in: "body"
        name: "putApiV4GroupsIdInvitationsEmail"
        required: true
        schema:
          $ref: "#/definitions/putApiV4GroupsIdInvitationsEmail"
        x-exportParamName: "PutApiV4GroupsIdInvitationsEmail"
      responses:
        "200":
          description: "Updates a group or project invitation."
          schema:
            $ref: "#/definitions/API_Entities_Invitation"
    delete:
      tags:
      - "invitations"
      description: "Removes an invitation from a group or project."
      operationId: "deleteApiV4GroupsIdInvitationsEmail"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The group ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "email"
        in: "path"
        description: "The email address of the invitation"
        required: true
        type: "string"
        x-exportParamName: "Email"
      responses:
        "204":
          description: "Removes an invitation from a group or project."
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
        "409":
          description: "Could not delete invitation"
  /api/v4/groups/{id}/-/packages/maven/*path/{file_name}:
    get:
      tags:
      - "maven_packages"
      summary: "Download the maven package file at a group level"
      description: "This feature was introduced in GitLab 11.7"
      operationId: "getApiV4GroupsIdPackagesMaven*pathFileName"
      produces:
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "The ID or URL-encoded path of the group"
        required: true
        type: "string"
[...]
